<div class="max-w-120">
  <h2 class="text-2xl">[ PROJECTS ]</h2>

  <div class="inline-grid grid-cols-[max-content_1fr] gap-y-5 pt-4">
    <a href="/projects#bubbl" class="contents group">
      <div class="project-list-heading">BUBBL</div>
      <div class="project-list-description">An operating system for x86.</div>
    </a>

    <a href="/projects#bubbl" class="contents group">
      <div class="project-list-heading">ZUK MSM8996</div>
      <div class="project-list-description">A port of Android 13 &amp; 14 to the Zuk Z2 PLUS.</div>
    </a>

    <a href="/projects#bubbl" class="contents group">
      <div class="project-list-heading">CHIP8Emu</div>
      <div class="project-list-description">A VM/interpreter for CHIP-8.</div>
    </a>

    <a href="/projects#bubbl" class="contents group">
      <div class="project-list-heading">MSG</div>
      <div class="project-list-description">A Minimal Static Site Generator.</div>
    </a>

    <a href="/projects#bubbl" class="contents group">
      <div class="project-list-heading">Autograd</div>
      <div class="project-list-description">An implementation of autograd / backpropagation.</div>
    </a>
  </div>
</div>
