<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="RAGHURAM SUBRAMANI ~ COMPROMYSE | Hacker & Programmer">

        <title>{{ putpage name }} | COMPROMYSE</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/site.webmanifest">

        <link href="/assets/stylesheet.css" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/base16/ashes.min.css" defer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
        <script defer>hljs.highlightAll();</script>

    </head>
    <body class="bg-zinc-900 text-pink-300 font-['Jersey_15'] selection:text-pink-900 selection:bg-pink-100 lg:text-xl">
        <div class="min-h-screen flex flex-col">

            {{ include "navbar.html" }}

            <div class="flex flex-grow flex-col py-8 px-14 items-center">

                <div class="text-center flex flex-col gap-4 w-full max-w-100">
                    <h1 class="text-5xl font-semibold">{{ putpage name }}</h1>
                    <div>
                        <h4 class="text-xl">{{ putpage description }}</h4>
                        <h6 class="text-center text-sm border-t-4 mt-2 py-1">{{ putpage tags }}</h6>
                    </div>

                    {{ eachdo page.links }}
                    <a href="{{ put href }}" target="_blank" class="button">{{ put label }}</a>
                    {{ endeachdo }}
                </div>

                <div class="prose md:prose-lg lg:prose-2xl prose-pink prose-invert w-full max-w-256 pt-12">
                    {{ body }}
                </div>

            </div>
            {{ include "footer.html" }}

        </div>
    </body>
</html>
